# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite

# Environments
.env
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
